* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif !important;
}

:root {
  --color-azul: #008bc1;
  --color-naranja: #ff9100;
  --color-gris: #343434;
  --color-blanco: #ffffff;
}

body {
  max-width: 100vw;
  height: auto;
}
main {
  position: absolute;
}
.container-fluid {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

/* NAVBAR */

#navbar {
  background-color: var(--color-blanco) !important;
  width: 100%;
}

.navBar-frame {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  width: 100%;
  top: 24px;
  background-color: var(--color-blanco);
}
.navBar-logo {
  position: relative;
  width: 114px;
  height: 61px;
}
.navBarOrden {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-around;
}
*/ .navBar-logo a {
  width: 100%;
}
.navBar-logo img {
  width: 100%;
}
.btnDonarWeb {
  display: none !important;
}
.navBar-frame ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 11px 44px;
  position: relative;
  width: 666px;
  height: 40px;
  background-color: var(--color-blanco);
}

.navBar-frame ul li {
  position: static;
  width: 200px;
  height: 17px;
  list-style-type: none;
}

.navBar-frame ul li a {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: var(--color-gris);
}

.navBar-donar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 11px 44px;
  position: relative;
  width: 200px;
  height: 40px;
  border-radius: 16px;
  background-color: var(--color-naranja);
}

.navBar-donar a {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  color: var(--color-blanco);
}

.navBar-redes {
  position: relative;
  width: 130px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* FOOTER */

#footer {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 252px;
  background-image: url(../assets/bg/wave-haikei.svg);
  background-size: cover;
  top: 3676px;
  align-items: flex-end;
}
.footerMobile {
  display: flex;
  flex-direction: row;
}

.footer-logo {
  position: relative;
  width: 20%;
}

.footer-logo img {
  width: 47%;
}

.footer-copyright {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 40%;
}

.footer-copyrightMobile {
  display: none;
}
.footer-copyright p {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 210.4%;
  color: var(--color-blanco);
  margin-left: 5%;
}

.footer-redes {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 17%;
  align-items: center;
}

.footer-redes p {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 289.9%;
  color: var(--color-blanco);
}
.footer-redes a {
  margin: 2%;
}

.footer-redes-iconos {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* --------------------------------------------------- */
/*                         HOME                        */
/* --------------------------------------------------- */

/* HEADER HOME */

#home-header {
  position: absolute;
  width: 100%;
  height: 999px;
  margin-top: 1%;
  background-image: url(../assets/pictures/portada.JPG);
  background-size: cover;
}

.home-header-titular {
  position: absolute;
  width: 470px;
  height: 390px;
  left: 173px;
  top: 216px;
}

.home-header-titular h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 78px;
  color: var(--color-blanco);
}

.home-header-textos {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 466px;
  top: 534px;
  background-image: url(../assets/bg/wave-header.svg);
  background-size: cover;
}

.header-textos {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 266px;
}

.header-textos p {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #454a4d;
}

.flor-1 {
  position: absolute;
  width: 117px;
  height: 116px;
  left: 141px;
  top: 725px;
  z-index: 9;
}
.flor-2 {
  position: absolute;
  width: 88px;
  height: 87px;
  left: 311px;
  top: 825px;
  z-index: 9;
}
.flor-3 {
  position: absolute;
  width: 71px;
  height: 70px;
  left: 487px;
  top: 788px;
  z-index: 9;
}

/* SECTION FOTOS */
#section1 {
  width: 100%;
}

.home-section-sumate {
  position: absolute;
  display: flex;
  width: 41%;
  height: 417px;
  left: -2px;
  top: 1152px;
  background-color: var(--color-naranja);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9;
}

.section-titular {
  position: absolute;
  width: 241px;
  height: 177px;
  left: 177px;
}

.section-titular h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 59px;
  color: var(--color-blanco);
}

.section-participar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 34px 51px;
  border-radius: 16px;
  background-color: var(--color-blanco);
  position: relative;
  width: 310px;
  height: 48px;
  top: 78px;
}

.section-participar a {
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: var(--color-naranja);
}

.section-pic1 {
  position: absolute;
  width: 65%;
  height: auto;
  right: 0;
  top: 1119px;
}
.section-pic1 img {
  width: 100%;
}

#section2 {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.section-pic2 {
  position: absolute;
  width: 628px;
  height: 397px;
  left: 179px;
  top: 1681px;
}
.section-pic2 img {
  width: 100%;
}

.section2-titulos {
  position: absolute;
  width: 418px;
  height: 79px;
  right: 0;
  top: 1789px;
}
.section2-titulos h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: var(--color-azul);
}

.section2-titulos p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: var(--color-gris);
}

#section3 {
  width: 100%;
}

.section-pic3 {
  position: absolute;
  width: 70%;
  height: auto;
  top: 2168px;
}

.section-pic3 img {
  width: 100%;
}

.home-section-ayudar {
  position: absolute;
  display: flex;
  width: 41%;
  height: 417px;
  right: 0;
  top: 2240px;
  background-color: var(--color-naranja);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9;
}

.section-titular2 {
  position: absolute;
  width: 275px;
  height: 118px;
}
.section-titular2 h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 59px;
  color: var(--color-blanco);
}

.section-donar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 34px 51px;
  border-radius: 16px;
  background-color: var(--color-blanco);
  position: relative;
  width: 310px;
  height: 48px;
}

.section-donar a {
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: var(--color-naranja);
}

.garabato {
  position: absolute;
  width: 401px;
  height: 65px;
  left: 1063px;
  top: 2241px;
  z-index: 10;
}

/* SECCION 4 */
#section4 {
  width: 100%;
}

.section4-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 560px;
  top: 2791px;
  background-image: url(../assets/pictures/alcanceRegionalHome.jpg);
  background-size: cover;
  align-content: center;
  justify-content: center;
}

.section4-titular {
  position: relative;
  width: 100%;
  height: 104px;
  display: flex;
  justify-content: center;
}

.section4-titular h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 289.9%;
  color: var(--color-gris);
}

.section4-datos {
  display: flex;
  flex-direction: row;
}

.section4-textos {
  display: flex;
  width: 25%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section4-datos h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 78px;
  color: var(--color-gris);
}

.section4-datos p {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  text-align: center;
  line-height: 40px;
  color: var(--color-gris);
}

/* VOLUNTARIOS */

#section5 {
  width: 100%;
}
.section5-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  top: 3400px;
}
.section5-titular {
  position: relative;
  width: 100%;
  height: 70px;
  text-align: center;
}

.section5-titular h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 289.9%;
  color: var(--color-naranja);
}

.section5-testimonios {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 91%;
  top: 15px;
}
.voluntarios {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.voluntarios img {
  margin: 10px;
  height: 90px;
  border-radius: 50%;
}

.voluntarios p {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-gris);
}

/* --------------------------------------------------- */
/*                 COMO PARTICIPAR                     */
/* --------------------------------------------------- */
#participar-header {
  margin-top: 1%;
  background-image: url(../assets/pictures/headerParticipar.jpg);
  background-position: bottom;
}
.participar-header-titular {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 470px;
  height: 390px;
  margin-left: 5%;
  justify-content: center;
}

.participar-header-titular h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 78px;
  color: var(--color-blanco);
  margin-top: 50%;
}

.participar-header-textos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 466px;
  top: 300px;
  background-image: url(../assets/bg/wave-header.svg);
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
}
#section-voluntariado {
  width: auto;
}
.voluntariado-como {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 648px;
  top: 781px;
  align-items: center;
  justify-content: space-around;
}

.voluntariado-textos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  width: 420px;
  height: 648px;
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 35px;
  color: var(--color-gris);
}

.voluntariado-textos h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: var(--color-azul);
}

.voluntariado-textos ul li {
  list-style-image: url(../assets/figures/flecha.png);
  list-style-position: inside;
}

.voluntariado-img {
  position: relative;
  width: 420px;
  height: 586px;
}

#footer-participar {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 252px;
  background-image: url(../assets/bg/wave-haikei.svg);
  background-size: cover;
  top: 1620px;
  align-items: flex-end;
}

/* --------------------------------------------------- */
/*                        DONAR                        */
/* --------------------------------------------------- */

#donar-header {
  margin-top: 1%;
  background-image: url(../assets/pictures/donarHeader.jpg);
}
.donar-header-titular {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 470px;
  height: 390px;
  margin-left: 5%;
  justify-content: center;
}

.donar-header-titular h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 78px;
  color: var(--color-blanco);
  margin-top: 50%;
}

.donar-header-textos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 466px;
  top: 300px;
  background-image: url(../assets/bg/wave-header.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

#section-donar {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.donar-ahora {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 11px 44px;
  width: 530px;
  height: 78px;
  top: 1000px;
  background-color: var(--color-naranja);
  border-radius: 20px;
}

.donar-ahora p {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.donar-ahora a {
  text-decoration: none;
  color: var(--color-blanco);
}

#footer-donar {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 252px;
  background-image: url(../assets/bg/wave-haikei.svg);
  background-size: cover;
  top: 1050px;
  align-items: flex-end;
}

/* --------------------------------------------------- */
/*                 QUE HACEMOS                   */
/* --------------------------------------------------- */

#hacemos-header {
  width: 100%;
  height: 700px;
  margin-top: 1%;
  background-image: url(../assets/pictures/energiasSolidariasFotos.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.hacemos-header-titular {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 470px;
  height: 390px;
  margin-left: 5%;
  justify-content: center;
}

.hacemos-header-titular h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 78px;
  color: var(--color-blanco);
}

.hacemos-header-textos {
  position: absolute;
  width: 100%;
  height: 451px;
  top: 264px;
  background-image: url(../assets/bg/wave-header.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
#queHacemos {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: var(--color-azul);
}
#queHacemosDiv {
  display: flex;
  flex-direction: row;
  background-image: url(../assets/bg/wave-hacemos.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  margin-bottom: 50px;
}
.tituloQueHacemos {
  display: flex;
  flex-direction: row;
}
.iconoTitulo {
  width: 25%;
  margin-right: 5%;
  margin-bottom: 5%;
}
p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: var(--color-gris);
}
.parrafo1 {
  margin-bottom: 100px;
}
.parrafo2 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}
#textoQueHacemos {
  display: flex;
  flex-direction: column;
}
#imgQueHacemos {
  display: flex;
  flex-direction: column;
}
.rulo {
  width: 50%;
  margin-top: 1.5%;
  margin-left: 50%;
}
.imgQHacemos1 {
  position: absolute;
  height: 580px;
  margin-top: 2.5%;
}
.tituloImpacto {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: var(--color-naranja);
}
.impactoTituloDiv {
  margin: 0 auto;
  margin-top: 8%;
}
.infoImpacto {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.circulo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.textoCirculoDiv {
  background-image: url(../assets/bg/circulo.svg);
  background-repeat: no-repeat;
  height: 255%;
  width: 255%;
  background-position: center;
}
.textoCirculoDiv p {
  font-style: normal;
  font-size: 12px;
  line-height: 22px;
  color: var(--color-blanco);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.numero {
  font-size: 38px;
  font-weight: bold;
}
#nuestrosProyectos {
  background-color: var(--color-azul);
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 550px;
  justify-content: center;
  margin-top: 22%;
}
.imgNuestrosProyectos {
  width: 90%;
  margin-top: 20%;
}
.imgProyectos {
  width: 41%;
}
.tituloProyectos {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 169.9%;
  color: var(--color-blanco);
}
.textoProyectos {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 169.9%;
  color: var(--color-blanco);
}
.textoProyectosDiv {
  width: 26%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cards {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cardsProyectos {
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.textoProyectosCard1 {
  background-repeat: no-repeat;
  background-image: url(../assets/pictures/termotanqueColor.png);
  border: none !important;
  border-radius: 0px !important;
  height: 14rem;
  background-size: cover;
}
.textoProyectosCard2 {
  background-repeat: no-repeat;
  background-image: url(../assets/pictures/cocinaColor.png);
  border: none !important;
  border-radius: 0px !important;
  height: 14rem;
  background-size: cover;
}
.textoProyectosCard3 {
  background-repeat: no-repeat;
  background-image: url(../assets/pictures/alumbradoColor.png);
  border: none !important;
  border-radius: 0px !important;
  height: 14rem;
  background-size: cover;
}
.imgCardText {
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  color: var(--color-blanco);
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cardText {
  width: 50%;
}
.numeroCard {
  font-size: 35px;
  font-weight: bold;
}
.cards p {
  font-size: 1em;
}
#footerQueHacemos {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 252px;
  background-image: url(../assets/bg/wave-haikei.svg);
  background-size: cover;
  top: 2910px;
  align-items: flex-end;
}
/* --------------------------------------------------- */
/*                 QUINES SOMOS                  */
/* --------------------------------------------------- */

#somos-header {
  width: 100%;
  margin-top: 1%;
  background-image: url(../assets/pictures/IMG6414.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.somos-header-titular {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 470px;
  height: 390px;
  margin-left: 5%;
  justify-content: center;
}

.somos-header-titular h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 78px;
  color: var(--color-blanco);
  margin-top: 50%;
}

.somos-header-textos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 466px;
  top: 300px;
  background-image: url(../assets/bg/wave-header.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.quienesSomos1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5%;
}

#footerQuienesSomos {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 252px;
  background-image: url(../assets/bg/wave-haikei.svg);
  background-size: cover;
  top: 2380px;
  align-items: flex-end;
}
.tituloDiv {
  width: 30%;
}
.logoOperaciones {
  width: 25%;
  height: 15%;
  margin-right: 2%;
}
.divOperaciones {
  display: flex;
  flex-direction: row;
  width: 25%;
}
.textoOperaciones {
  display: flex;
  flex-direction: column;
}
.textoOperaciones h3 {
  font-size: 1em;
  margin-bottom: 2%;
  text-align: center;
}
.textoOperaciones p {
  font-size: 0.8em;
}
.slick-slide {
  margin: 0px 20px;
}

.tituloCarousel {
  color: var(--color-azul);
  font-weight: bold;
}
.carouselTitulo {
  text-align: center;
}
.logo-carousel {
  overflow: inherit;
}

.slick-slide img {
  width: 100%;
}

.slick-track::before,
.slick-track::after {
  display: table;
  content: "";
}

.slick-track::after {
  clear: both;
}

.slick-track {
  padding: 1rem 0;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  background: url(https://raw.githubusercontent.com/solodev/infinite-logo-carousel/master/images/arrow.svg?sanitize=true)
    center no-repeat;
  color: #fff;
  filter: invert(77%) sepia(32%) saturate(1%) hue-rotate(344deg)
    brightness(105%) contrast(103%);
  border: none;
  width: 2rem;
  height: 1.5rem;
  text-indent: -10000px;
  margin-top: -16px;
  z-index: 99;
}

.slick-arrow.slick-next {
  right: -40px;
  transform: rotate(180deg);
}

.slick-arrow.slick-prev {
  left: -40px;
}
.slick-next {
  display: none !important;
}

/* Media Queries */

@media (max-width: 768px) {
  .slick-arrow {
    width: 1rem;
    height: 1rem;
  }
}
/* JsFiddle Example only/don't use */
.logo-carousel {
  margin-top: 32px;
}

/* RESPONSIVE */

@media (max-width: 1024px) {
  /* home */
  .home-header-titular h1 {
    font-size: 3rem;
  }
  .header-textos {
    width: 100%;
  }

  .header-textos p {
    width: 90%;
    font-size: 1.1rem;
  }

  .section-titular {
    left: 94px;
  }

  .section-titular h1 {
    font-size: 2.8rem;
  }

  .section-pic2 {
    width: 66%;
    left: 0;
  }
  .section2-titulos {
    width: 30%;
    top: 1789px;
  }

  .garabato {
    width: 284px;
    left: 598px;
  }

  .section5-titular {
    width: 100%;
  }

  .voluntarios p {
    font-size: 1rem;
  }

  #footer {
    top: 3725px;
  }

  /* que hacemos */
  .iconoTitulo {
    padding-top: 10px;
    height: fit-content;
  }

  .parrafo2 {
    font-size: 1rem;
    line-height: 1.5;
    text-shadow: 1px 1px 4px var(--color-gris);
  }

  .infoImpacto {
    width: 100%;
  }

  .circulo {
    width: 33%;
  }
  .textoCirculoDiv {
    height: 269px;
    width: 100%;
  }

  /* quienes somos */

  #footerQuienesSomos {
    top: 2713px;
  }
}

@media (max-width: 768px) {
  /* home */
  #home-header {
    background-position: center;
  }

  .home-header-titular {
    left: 36px;
    top: 292px;
  }

  .flor-1 {
    width: 100px;
    height: auto;
    left: 78px;
  }
  .flor-2 {
    width: 78px;
    height: auto;
    left: 239px;
    top: 793px;
  }
  .flor-3 {
    width: 64px;
    height: auto;
    left: 426px;
    top: 778px;
  }

  .home-section-sumate {
    height: 214px;
  }

  .section-titular {
    width: 200px;
    left: 65px;
  }

  .section-titular h1 {
    font-size: 2.4rem;
    line-height: 57px;
  }

  .section-participar {
    padding: 31px 51px;
    width: 235px;
    top: 64px;
  }

  .section-pic2 {
    top: 1490px;
  }

  .section2-titulos {
    top: 1461px;
  }

  .section-pic3 {
    position: absolute;
    width: 70%;
    height: auto;
    top: 1937px;
  }
  .garabato {
    width: 284px;
    left: 470px;
    top: 1979px;
  }

  .home-section-ayudar {
    height: 286px;
    top: 1979px;
  }
  .section-titular2 h1 {
    font-size: 2.5rem;
    line-height: 57px;
  }

  .section-donar {
    width: 266px;
    height: 48px;
  }

  .section4-container {
    top: 2390px;
  }
  .section4-titular h3 {
    font-size: 2.5rem;
  }

  .section4-textos {
    justify-content: flex-start;
  }

  .section4-datos h1 {
    font-size: 3rem;
  }

  .section4-datos p {
    font-size: 1.6rem;
    line-height: 35px;
  }
  .section5-container {
    top: 2976px;
  }

  #footer {
    top: 3380px;
  }
  .footer-logo {
    position: relative;
    width: 10%;
  }

  .footer-logo img {
    width: 100%;
  }
  .footer-copyright {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 66%;
  }
  .footer-copyright p {
    font-style: normal;
    font-weight: 700;
    font-size: 0.6rem;
    line-height: 210.4%;
    color: var(--color-blanco);
    margin-left: 0%;
  }

  .footer-redes {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
  }

  .footer-redes p {
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 289.9%;
    color: var(--color-blanco);
  }
  .footer-redes-iconos {
    position: relative;
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  /* que hacemos */

  #hacemos-header {
    width: 100%;
    height: 700px;
    margin-top: 1%;
    background-image: url(../assets/pictures/energiasSolidariasFotos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hacemos-header-titular {
    position: absolute;
    width: 470px;
    left: 36px;
    top: 153px;
  }
  .hacemos-header-titular h1 {
    font-style: normal;
    font-weight: 900;
    font-size: 3rem;
    line-height: 78px;
    color: var(--color-blanco);
  }

  .hacemos-header-textos {
    position: absolute;
    width: 100%;
    height: 451px;
    top: 264px;
    background-image: url(../assets/bg/wave-header.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  #queHacemosDiv {
    position: absolute;
    display: flex;
    flex-direction: row;
    background-image: url(../assets/bg/wave-hacemos.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
    top: 601px;
  }

  #textoQueHacemos {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-left: 20px;
  }

  #queHacemos {
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 44px;
    color: var(--color-azul);
  }

  .parrafo1 {
    margin-bottom: 32px;
  }

  #imgQueHacemos {
    display: flex;
    flex-direction: column;
    width: 50%;
    position: relative;
  }

  .rulo {
    width: 50%;
    margin-top: 26.5%;
    margin-left: 23%;
  }

  .imgQHacemos1 {
    width: 100%;
    position: absolute;
    height: auto;
    margin-top: 36.5%;
  }

  #impacto {
    position: absolute;
    top: 1350px;
  }
  .impactoTituloDiv {
    margin: 0 auto;
    margin-top: 8%;
    width: 90%;
    text-align: center;
  }

  #nuestrosProyectos {
    background-color: var(--color-azul);
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 400px;
    justify-content: center;
    position: absolute;
    top: 1600px;
  }
  .textoProyectos {
    font-size: 15px;
  }

  .imgProyectos {
    width: 50%;
  }

  .imgNuestrosProyectos {
    width: 81.3%;
    margin-top: 0;
  }

  .cardsProyectos {
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    top: 2300px;
  }

  .cardsProyectos {
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    top: 2161px;
    width: 100%;
  }

  .cards {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .cardText {
    width: 100%;
    text-align: center;
  }

  #footerQueHacemos {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 252px;
    background-image: url(../assets/bg/wave-haikei.svg);
    background-size: cover;
    top: 2691px;
    align-items: flex-end;
  }

  /* quienes somos */

  .quienesSomos1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5%;
    width: 100%;
  }

  .tituloDiv {
    width: 50%;
  }

  .divOperaciones {
    display: flex;
    flex-direction: row;
    width: 50%;
  }

  #footerQuienesSomos {
    top: 2462px;
  }
}

@media (max-width: 425px) {
  /*navbar*/
  .navBarOrden {
    flex-direction: column;
  }
  /*home*/
  #home-header {
    height: 297px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .home-header-titular {
    width: 243px;
    left: 16px;
    top: 75px;
  }

  .home-header-titular h1 {
    font-size: 1.5rem;
    line-height: 34px;
  }

  .home-header-textos {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 469px;
    top: 28px;
    background-image: url(../assets/bg/wave-header.svg);
    background-size: cover;
  }

  .header-textos p {
    font-size: 0.9rem;
  }
  .flor-1 {
    width: 60px;
    height: auto;
    left: 9px;
    top: 227px;
  }
  .flor-2 {
    width: 55px;
    height: auto;
    left: 121px;
    top: 255px;
  }

  .flor-3 {
    width: 47px;
    height: auto;
    left: 258px;
    top: 237px;
  }

  .home-section-sumate {
    height: 183px;
    top: 601px;
  }

  .section-titular {
    position: absolute;
    width: 194px;
    height: 177px;
    left: -10px;
    text-align: center;
  }

  .section-titular h1 {
    font-size: 1.5rem;
    line-height: 52px;
  }

  .section-participar {
    padding: 25px 51px;
    width: 144px;
    height: 47px;
    top: 50px;
    text-align: center;
  }

  .section-participar a {
    font-style: normal;
    font-weight: 900;
    font-size: 0.8rem;
    line-height: 15px;
    text-decoration: none;
    color: var(--color-naranja);
  }

  .section-pic1 {
    position: absolute;
    width: 65%;
    height: auto;
    right: 0;
    top: 595px;
  }

  .section-pic2 {
    top: 827px;
  }

  .section2-titulos {
    top: 821px;
  }

  .section2-titulos h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 0.9rem;
    line-height: 20px;
    color: var(--color-azul);
  }

  .section2-titulos p {
    font-style: normal;
    font-weight: 500;
    font-size: 0.6rem;
    line-height: 15px;
    color: var(--color-gris);
  }

  .section-pic3 {
    position: absolute;
    width: 70%;
    height: auto;
    top: 1080px;
  }

  .garabato {
    width: 199px;
    height: 28px;
    left: 222px;
    top: 1090px;
  }

  .home-section-ayudar {
    height: 179px;
    top: 1090px;
  }

  .section-titular2 {
    position: absolute;
    width: 137px;
    height: 134px;
    text-align: center;
  }

  .section-titular2 h1 {
    font-size: 1.5rem;
    line-height: 32px;
  }

  .section-donar {
    padding: 24px 51px;
    margin-left: 12px;
    width: 120px;
    height: 48px;
  }

  .section-donar a {
    font-size: 0.8rem;
  }

  .section4-container {
    height: 246px;
    top: 1320px;
  }

  .section4-titular {
    position: relative;
    width: 100%;
    height: 85px;
    display: flex;
    justify-content: center;
  }

  .section4-titular h3 {
    font-size: 1.9rem;
    line-height: 3;
  }

  .section4-textos {
    justify-content: flex-start;
  }

  .section4-datos h1 {
    font-size: 1.5rem;
    line-height: 42px;
  }

  .section4-datos p {
    font-size: 0.8rem;
    line-height: 15px;
  }

  .section5-container {
    top: 1585px;
  }

  .section5-titular {
    height: 90px;
  }

  .section5-titular h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2;
    color: var(--color-naranja);
  }

  .section5-testimonios {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 89%;
    top: 18px;
  }

  .voluntarios {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 17px;
  }

  .voluntarios p {
    font-size: 0.7rem;
    line-height: 22px;
    color: var(--color-gris);
  }

  #footer {
    height: 210px;
    top: 2183px;
  }

  .footer-copyright p {
    font-style: normal;
    font-weight: 700;
    font-size: 0.35rem;
    line-height: 2;
    color: var(--color-blanco);
    margin-left: 0%;
  }

  .footer-redes p {
    font-style: normal;
    font-weight: 700;
    font-size: 0.6rem;
    line-height: 0;
    color: var(--color-blanco);
  }

  svg {
    overflow: hidden;
    vertical-align: middle;
    width: 20px;
  }
  #footer-participar {
    top: 1700px;
  }

  /* que hacemos */

  #hacemos-header {
    width: 100%;
    height: 700px;
    margin-top: 1%;
    background-image: url(../assets/pictures/energiasSolidariasFotos.jpg);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .hacemos-header-textos {
    position: absolute;
    width: 100%;
    height: 451px;
    top: 19px;
    background-image: url(../assets/bg/wave-header.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hacemos-header-titular {
    position: absolute;
    width: 59%;
    height: 126px;
    top: 11px;
  }

  .hacemos-header-titular h1 {
    font-style: normal;
    font-weight: 900;
    font-size: 2rem;
    line-height: 47px;
    color: var(--color-blanco);
  }

  .hacemos-header-textos {
    position: absolute;
    width: 100%;
    height: 303px;
    top: 71px;
    background-image: url(../assets/bg/wave-header.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  #queHacemosDiv {
    position: absolute;
    display: flex;
    flex-direction: row;
    background-image: url(../assets/bg/wave-hacemos.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
    top: 242px;
  }

  #textoQueHacemos {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 14px;
    text-align: justify;
  }

  #impacto {
    position: absolute;
    top: 880px;
  }

  #imgQueHacemos {
    display: none;
  }

  .impactoTituloDiv {
    margin: 0 auto;
    margin-top: 8%;
    width: 90%;
    text-align: center;
  }

  .infoImpacto {
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  .circulo {
    justify-content: space-between;
    width: 50%;
  }

  #nuestrosProyectos {
    background-color: var(--color-azul);
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 400px;
    position: absolute;
    top: 1730px;
    align-items: center;
  }

  .imgProyectos {
    width: 50%;
  }
  .imgNuestrosProyectos {
    width: 100%;
    margin-top: 0;
  }

  .textoProyectosDiv {
    width: 47%;
    display: flex;
    margin-left: 3%;
    flex-direction: column;
    justify-content: center;
  }

  .tituloProyectos {
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.5;
    color: var(--color-blanco);
  }

  .textoProyectos {
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.2;
    color: var(--color-blanco);
  }

  .cardsProyectos {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 2300px;
    width: 100%;
  }

  .cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  .textoProyectosCard1 {
    background-repeat: no-repeat;
    background-image: url(../assets/pictures/termotanqueColor.png);
    border: none !important;
    border-radius: 0px !important;
    width: 50% !important;
    height: 200px;
    background-size: cover;
    text-align: center;
  }
  .textoProyectosCard2 {
    background-repeat: no-repeat;
    background-image: url(../assets/pictures/cocinaColor.png);
    border: none !important;
    border-radius: 0px !important;
    width: 50% !important;
    height: 200px;
    background-size: cover;
    text-align: center;
  }
  .textoProyectosCard3 {
    background-repeat: no-repeat;
    background-image: url(../assets/pictures/alumbradoColor.png);
    border: none !important;
    border-radius: 0px !important;
    width: 50% !important;
    height: 200px;
    background-size: cover;
    text-align: center;
  }

  .cards p {
    font-size: 1rem;
  }

  .numeroCard {
    font-size: 2rem;
    font-weight: bold;
  }

  .cardText {
    width: 50%;
    text-align: center;
  }

  #footerQueHacemos {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 252px;
    background-image: url(../assets/bg/wave-haikei.svg);
    background-size: cover;
    top: 3100px;
    align-items: flex-end;
  }

  /* quienes somos */
  #somos-header {
    width: 100%;
    margin-top: 1%;
    background-image: url(../assets/pictures/IMG6414.png);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .somos-header-titular {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40%;
    height: 106px;
    margin-left: 5%;
    justify-content: flex-start;
  }
  .somos-header-titular h1 {
    font-style: normal;
    font-weight: 900;
    font-size: 2rem;
    line-height: 1;
    color: var(--color-blanco);
    margin-top: 50%;
  }

  .somos-header-textos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 203px;
    background-image: url(../assets/bg/wave-header.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .quienesSomos1 {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    width: 100%;
    align-items: center;
    margin-bottom: 50px;
  }

  .tituloDiv {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
  }

  .tituloDiv h1 {
    font-size: 1.5rem;
  }

  .divOperaciones {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 20px;
    text-align: justify;
  }

  .logoOperaciones {
    width: 17%;
    height: 15%;
    margin-right: 2%;
  }

  #footerQuienesSomos {
    top: 2600px;
  }

  /* participar */

  #participar-header {
    margin-top: 1%;
    background-image: url(../assets/pictures/headerParticipar.jpg);
    background-position: bottom;
    width: 100%;
  }

  .participar-header-titular {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40%;
    height: 368px;
    margin-left: 5%;
    justify-content: center;
  }

  .participar-header-titular h1 {
    font-style: normal;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1;
    color: var(--color-blanco);
    margin-top: 50%;
  }

  .participar-header-textos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 466px;
    top: 300px;
    background-image: url(../assets/bg/wave-header.svg);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
  }

  #section-voluntariado {
    width: 100%;
  }

  .voluntariado-como {
    display: flex;
    width: 90%;
    height: 648px;
    top: 781px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    align-content: center;
  }

  .voluntariado-textos {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 648px;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--color-gris);
    margin-left: 30px;
  }

  .voluntariado-textos h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    line-height: 1;
    color: var(--color-azul);
    text-align: center;
  }

  .voluntariado-img {
    position: relative;
    width: 100%;
    height: 586px;
  }

  /* donar */

  #donar-header {
    margin-top: 1%;
    background-image: url(../assets/pictures/donarHeader.jpg);
    background-size: cover;
  }

  .donar-header-titular {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 390px;
    margin-left: 0;
    justify-content: center;
  }

  .donar-header-titular h1 {
    font-style: normal;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 78px;
    color: var(--color-blanco);
    margin-top: 50%;
  }

  .donar-ahora {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 11px 44px;
    width: 70%;
    height: 78px;
    top: 933px;
    background-color: var(--color-naranja);
    border-radius: 20px;
    text-align: center;
  }
}

@media (max-width: 375px) {
  /* home */
  #home-header {
    background-size: cover;
  }
  .garabato {
    width: 164px;
    height: 28px;
    left: 203px;
    top: 1090px;
  }

  #footer {
    top: 2190px;
  }

  /* que hacemos */

  #impacto {
    margin-top: 40%;
  }

  .circulo {
    width: 60%;
  }

  #nuestrosProyectos {
    background-color: var(--color-azul);
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 400px;
    margin-top: 50%;
    align-items: center;
  }

  .cardsProyectos {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    margin-top: 50%;
    width: 100%;
  }

  /* quienes somos */

  #footerQuienesSomos {
    width: 100%;
    height: 252px;
    top: 2772px;
  }

  /* participar */

  .voluntariado-como {
    display: flex;
    width: 100%;
    height: 648px;
    top: 781px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    align-content: center;
  }

  .voluntariado-img {
    position: relative;
    width: 100%;
    height: auto;
  }
  .imagenVoluntariado {
    width: 100%;
  }

  .voluntariado-textos {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 648px;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--color-gris);
    margin-left: 0;
  }

  /* donar */

  .donar-header-titular {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 390px;
    margin-left: 0;
    justify-content: center;
  }

  .donar-header-titular h1 {
    font-style: normal;
    font-weight: 900;
    font-size: 3rem;
    line-height: 78px;
    color: var(--color-blanco);
    margin-top: 50%;
    text-align: center;
  }
}

@media (max-width: 360px) {
  .section-pic3 {
    top: 1096px;
  }
  .garabato {
    left: 195px;
  }
  .home-section-ayudar {
    top: 1091px;
  }

  .section5-titular h4 {
    line-height: 1;
  }

  #footer {
    top: 2239px;
  }

  /* QUE HACEMOS */

  #footerQueHacemos {
    top: 3252px;
  }

  /* QUIENES SOMOS */

  #footerQuienesSomos {
    top: 2913px;
  }
}

@media (max-width: 320px) {
  /*home*/

  .flor-1 {
    width: 40px;
    top: 212px;
  }

  .flor-2 {
    width: 45px;
    left: 62px;
    top: 226px;
  }

  .flor-3 {
    width: 36px;
    left: 128px;
    top: 226px;
  }

  .header-textos p {
    text-align: justify;
  }

  .section-pic1 {
    top: 521px;
  }

  .home-section-sumate {
    height: 124px;
    top: 528px;
  }

  .section-titular {
    width: 147px;
    height: 122px;
    left: -10px;
  }

  .section-titular h1 {
    font-size: 1.3rem;
    line-height: 26px;
  }
  .section-participar {
    padding: 20px 49px;
    width: 98px;
    height: 43px;
    top: 21px;
  }
  .section-participar a {
    font-size: 0.6rem;
    line-height: 12px;
  }

  .section-pic2 {
    top: 688px;
    width: 100%;
  }
  .section2-titulos {
    top: 910px;
    width: 100%;
    left: 0;
  }

  .section2-titulos h3 {
    text-align: center;
  }
  .section2-titulos p {
    text-align: justify;
  }

  .section-pic3 {
    top: 1030px;
  }

  .garabato {
    width: 150px;
    left: 167px;
    top: 1036px;
    height: 22px;
  }
  .section-titular2 {
    width: 132px;
    height: 100px;
  }

  .section-titular2 h1 {
    font-size: 1.3rem;
    line-height: 26px;
  }
  .home-section-ayudar {
    height: 130px;
    top: 1036px;
  }

  .section-donar {
    padding: 20px 46px;
    margin-left: 20px;
    width: 89px;
    height: 37px;
  }

  .section-donar a {
    font-size: 0.6rem;
  }

  .section4-container {
    top: 1199px;
  }

  .section4-titular h3 {
    font-size: 1.5rem;
  }

  .section5-container {
    top: 1464px;
  }

  .section5-titular h4 {
    font-size: 1.2rem;
  }

  .voluntarios {
    margin-top: 0%;
  }

  .voluntarios p {
    font-size: 0.5rem;
    line-height: 20px;
  }

  #footer {
    top: 2236px;
  }
  .footer-copyright p {
    font-size: 0.3em;
  }

  .footer-redes p {
    font-size: 0.5rem;
  }
  .footer-redes-iconos {
    width: 100%;
  }

  .footer-redes a {
    margin: 1%;
  }

  /*que hacemos*/
  #impacto {
    margin-top: 70%;
  }
  .textoCirculoDiv {
    width: 110%;
  }
  #nuestrosProyectos {
    height: 450px;
    margin-top: 80%;
  }
  .tituloProyectos {
    font-size: 1.7rem;
  }
  .cardsProyectos {
    margin-top: 100%;
  }
  #footerQueHacemos {
    top: 3416px;
  }

  /*Quienes Somos*/
  #footerQuienesSomos {
    top: 3100px;
  }

  /* Donar */

  .donar-header-titular h1 {
    font-size: 2.6rem;
    line-height: 68px;
  }
}
